<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />

    @Url.Script("jquery-1.5.1.min.js")
    @Url.Script("jquery.validate.min.js")
    @Url.Script("jquery.validate.unobtrusive.min.js")
    @Url.Script("jquery-ui-1.8.11.min.js")
    @RenderSection("scripts",false)
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>Studmix</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Загрузка", "Upload", "Content")</li>
                    <li>@Html.ActionLink("Поиск", "Search", "Content")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            <h2>@ViewBag.Title</h2>
            <h6>@TempData["Message"]</h6>
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
