@using AI_.Studmix.WebApplication.ViewModels.Content
@model SearchViewModel

@{
    ViewBag.Title = "Поиск контента";
}

@Html.ValidationSummary()
@using (Html.BeginForm("Search","Content"))
{
    <p>
        <input type="submit" value="Поиск"/>
    </p>
    <table>
        <tr class="top">
            <td>
                <fieldset>
                    <legend>Параметры поиска</legend>
                    @foreach (var property in Model.Properties)
                    {
                        <div class="editor-label">
                            <span>@property.Name</span>
                        </div>
                        <div class="editor-field">
                            @Html.CombBoxFor(x => x.States[property.ID], Url.Action("UpdateStates", new {id = property.ID}), false)
                        </div>
                    }
                </fieldset>
            </td>
            <td>
                @if (Model.PackagesPagination != null)
                {
                    <fieldset>
                        <legend>Результаты поиска</legend>
                        <div>
                            <ul>
                            
                                @foreach (var package in Model.PackagesPagination)
                                {
                                    <li>
                                        @Html.ActionLink(string.Format("{0}-{1}",
                                            package.Caption,
                                            package.CreateDate.ToShortDateString()),
                                            "Details",
                                             new { id = package.ID })
                                        
                                    </li>
                                }
                            </ul>
                        </div>
                        <div>
                            @if (Model.PackagesPagination.HasPreviousPage)
                            {
                                <input type="submit" value="<<" class="pagination-button-left button-link"/>
                            }
                            @Model.PackagesPagination.PageNumber / @Model.PackagesPagination.TotalPages

                            @if (Model.PackagesPagination.HasNextPage)
                            {
                                <input type="submit" value=">>" class="pagination-button-right button-link"/>
                            }
                        </div>
                    </fieldset>
                }
                <input id="PageNumber" name="PageNumber" value="@Model.PageNumber" type="hidden"/>
                @*@Html.HiddenFor(m=>m.PageNumber)*@
            </td>
        </tr>
    </table>
}

@section scripts{
    @Url.Script("jquery.ajax.form.js")
    @Url.Script("ui.combobox.js")
}

<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source-path]").each(function () {
            $(this).combobox();
        });

        $(".pagination-button-right").click(function () {
            var val = $("#PageNumber").val();
            $("#PageNumber").val(Math.floor(val) + 1);
        });

        $(".pagination-button-left").click(function () {
            $("#PageNumber").val($("#PageNumber").val() - 1);
        });
    });
</script>